[submodule "Plutonication"]
	path = Plutonication
	url = https://github.com/cisar2218/Plutonication
[submodule "Substrate.NET.API"]
	path = Substrate.NET.API
	url = https://github.com/RostislavLitovkin/Substrate.NET.API
[submodule "Uniquery.Net"]
	path = Uniquery.Net
	url = https://github.com/RostislavLitovkin/Uniquery.Net.git
